{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "students" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Post Test Form",
        "description" : ""
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class='panel panel-primary'>
            <div class='panel-heading'>
                <h3 class='panel-title'><i class='fa fa-users'></i> Post Test Form</h3>
            </div>
            
            <div class='panel-body'>
                <div class="well well-sm"><strong>Select Term</strong></div>
                <table width=30%>
                    <tr>
                    {% for term in terms %}
                        <td><a class="btn btn-primary term-btn" href="#">{{term.term}}</a></td>
                    {% endfor %}
                    </tr>
                </table>
                
                <div class="well well-sm"><strong>Select Class</strong></div>
                <table width=100% id='table-classes'>
                    <tr>
                        <td><a id="all_class" class="btn btn-primary class-btn" href="#">All Classes</a></td>
                    </tr>
                {% for class in classreference %}
                    {% if loop.index % 10 ==1 %}
                        <tr height = 40px>
                    {% endif %}
                    <td><a class="btn btn-primary class-btn" href="#">{{class.reference_number}}</a></td>
                {% endfor %}
                </table>
            </div>
            
                <div class="table-responsive">
                    <table id="table-tests" class="tablesorter table table-bordered table-hover table-striped tablesorter-bootstrap" width=100% data-sortlist="[[0, 0]]">
                        <thead>
                            <tr>
                                <th colspan=7>&nbsp</th>
                                <th colspan=3>Reading</th>
                                <th colspan=3>Listening</th>
                                <th colspan=9>&nbsp</th>
                            </tr>
                            <tr>
                                <th class="sorter-metatext" data-column-name="">No <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Class<br> Reference <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Student<br> Last Name <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Student<br> First Name <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">ID Number <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Phone<br> Number <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">NRS Level <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">PRE <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">POST <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Reading<br> Progress <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">PRE <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">POST <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Listening<br> Progress <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Tracking <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">LCP Earned <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">LCP <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">LCP Total <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Next Level <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Automatic<br> Promotion <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Admin<br> Promotion <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Flags <i class="fa fa-sort"></i></th>
                                <th class="sorter-metatext" data-column-name="">Comments <i class="fa fa-sort"></i></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
        <script>            
            $(document).ready(function() {
                //console.log(terms);
                //$('table#table-groups tbody').html()
                var test_results;
                
                $('.term-btn').on('click', function(){
                    var $this = $(this);
                    
                    $('.term-btn').css("background-color","#337ab7");
                    $this.css("background-color","green");
                    
                    var termId = $this.html();
                    $.ajax('/students/update-test-form-table/' + termId, {
                        success: function(data) {
                            test_results = JSON.parse(data);
                            $('.class-btn').first().click();
                        }
                    });
                });
                
                $('.class-btn').on('click', function() {
                    var $this = $(this);
                    
                    $('.class-btn').css("background-color","#337ab7");
                    $this.css("background-color","green");
                    
                    var classId = $this.html();
                    loadResutlsOfClass(classId);
                    return false;
                });
                
                $('.term-btn').first().trigger( "click" );

                function loadResutlsOfClass(classId) {
                    var tableHtml = '';
                    var indexArr = 0;
                    for (var student_id in test_results) {
                        if (test_results[student_id].classRef != classId && classId != "All Classes")
                            continue;
                        
                        tableHtml += '<tr>';
                        tableHtml += '<td>' + (++indexArr) + '</td>';
                        tableHtml += '<td>' + test_results[student_id].classRef + '</td>';
                        tableHtml += '<td>' + test_results[student_id].lastName + '</td>';
                        tableHtml += '<td>' + test_results[student_id].firstName + '</td>';
                        tableHtml += '<td>' + student_id + '</td>';
                        tableHtml += '<td>' + test_results[student_id].phone + '</td>';
                        tableHtml += '<td>' + test_results[student_id].NRS + '</td>';
                        tableHtml += '<td>' + test_results[student_id].preR + '</td>';
                        tableHtml += '<td>' + test_results[student_id].postR + '</td>';
                        tableHtml += '<td>' + test_results[student_id].progR + '</td>';
                        tableHtml += '<td>' + test_results[student_id].preL + '</td>';
                        tableHtml += '<td>' + test_results[student_id].postL + '</td>';
                        tableHtml += '<td>' + test_results[student_id].progL + '</td>';
                        tableHtml += '<td>' + test_results[student_id].tracking + '</td>';
                        tableHtml += '<td>' + test_results[student_id].LCPEarned + '</td>';
                        tableHtml += '<td>' + test_results[student_id].LCP + '</td>';
                        tableHtml += '<td>' + test_results[student_id].LCPTotal + '</td>';
                        tableHtml += '<td>' + test_results[student_id].nextLevel + '</td>';
                        if (test_results[student_id].autoProm > 0)
                            tableHtml += '<td>' + '<input type=checkbox>' + '</td>';
                        else
                            tableHtml += '<td></td>';
                        tableHtml += '<td>' + test_results[student_id].adminProm + '</td>';
                        tableHtml += '<td>' + test_results[student_id].flags + '</td>';
                        tableHtml += '<td>' + test_results[student_id].comments + '</td>';
                        tableHtml += '</tr>';
                    }
                    
                    $('table#table-tests tbody').html(tableHtml);
                }
            });
        </script>
{% endblock %}

