{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "students" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Student Tracking",
        "description" : ""
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}


<div class='panel panel-primary'>
    <div class='panel-heading'>
        <h3 class='panel-title'><i class='fa fa-users'></i>Student Tracking</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-fw"></i>Select student
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <input type="text" class="input-sel" placeholder="Enter Student ID"></input>
        </div>
        <!-- /.panel-body -->
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i>Alzate, Jose
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Form</th>
                                    <th>Date</th>
                                    <th>Score</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>084L</td>
                                    <td>12/09/2015</td>
                                    <td>213</td>
                                </tr>
                                <tr>
                                    <td>084R</td>
                                    <td>12/09/2015</td>
                                    <td>203</td>
                                </tr>
                                <tr>
                                    <td>083R</td>
                                    <td>7/01/2015</td>
                                    <td>206</td>
                                </tr>
                                <tr>
                                    <td>083L</td>
                                    <td>7/01/2015</td>
                                    <td>204</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.col-lg-4 (nested) -->
                <div class="col-lg-8">
                    <div id="tracked-info">
                        <hr>
                        <b>View in case of new student.</b><br><br>
                        <table class="tbl-tracked-info">
                            <tr><td>Alzate is a new student</td></tr>
                            <tr><td>Last taken date: 4/1/2016(130 days ago)</td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        </table>
                        <hr>
                        <b>View in case of old student.</b><br><br>
                        <table class="tbl-tracked-info">
                            <tr><td>Tracking: Reading</td></tr>
                            <tr><td>Last taken date: 8/1/2016(20 days ago)</td></tr>
                            <tr><td>Current level: Hign Begining</td></tr>
                            <tr><td>Next level: Low Intermediate</td></tr>
                            <tr><td>Administrator Allen David authorized promotion.</td></tr>
                        </table>
                    </div>
                </div>
                <!-- /.col-lg-8 (nested) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.panel-body -->
    </div>
</div>
{% endblock %}
{% block page_scripts %}
    <script>            
        $(document).ready(function() {
            
        });
    </script>
{% endblock %}
