{% extends "layouts/layout-dashboard.twig" %}
{% set page_group = "students" %}

{# Set page properties (page.*) here. #}
{% block page %}
    {# By putting this in a special block, we ensure that it will be set AFTER the default values are set in the parent template, 
    but BEFORE the page itself is rendered. #}    
    {% set page = page | merge({
        "title"       : "Student Performance",
        "description" : "Student Performance, authorization rules, add/remove groups, etc."
    }) %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class='panel panel-primary'>
    <div class='panel-heading'>
        <h3 class='panel-title'><i class='fa fa-users'></i>Student Performance</h3>
    </div>
    
    <div class='panel-body'>
        <div class="well well-sm"><strong>Select Term</strong></div>
        <table width=30%>
            <tr>
            {% for term in terms %}
                <td><button class="btn-selector term-btn" href="#">{{term.term}}</button></td>
            {% endfor %}
            </tr>
        </table>
        <div class="well well-sm"><strong>Select Class</strong>
        </div>
        {% if (user.primary_group_id==4 or user.primary_group_id==2) %}
            <div style="overflow-x: auto">
                <table id='table-classes'>
                {% for class in allclasses %}
                    {% if loop.index % 10 == 1 %}
                        <tr>
                    {% endif %}
                    <td><button class="btn-selector class-btn" href="#">{{class.reference_number}}</button></td>
                    {% if loop.index % 10 == 0 %}
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            </div>
        {% else %}
            <table class='table-responsive' id='table-classes'><tr>
                {% for teacher_id,class in classreference %}
                    {% if teacher_id==user.user_name %}
                        {% for classref in class %}
                            <td><button class="btn-selector class-btn" href="#">{{classref}}</button></td>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </tr></table>
        {% endif %}
        <hr>
        <div class="well well-sm"><strong>Class Reference: <span id="div-selected-class" /></strong></div>
        <div id="sel-conditions" style="display: none">
            <table>
            <tr>
                <td style='padding-right: 50px'><button class="sel-button" id="btn-all-class">All Class Report</button></td>
                <td style='padding-right: 50px'>
                    <div class="search-container">
                        <input type="text" class="search-field" id="txt-student" placeholder="Enter Student ID..." />
                        <div class="submit-container">
                            <input type="submit" value="" class="search-submit" id="smt-student" />
                        </div>
                    </div>
                </td>
                <td style='padding-right: 30px'>
                    <div class="search-container">
                        <input type="text" class="search-field" id="txt-competency" placeholder="Enter Competency..." />
                        <div class="submit-container">
                            <input type="submit" value="" class="search-submit" id="smt-competency" />
                        </div>
                    </div>
                </td>
                <td style="text-align: center"><p style="color:red;font-weight:bold;">Correct</p>
                    <label class="label-for-checkbox">Y <input type="checkbox" class="checkbox-square" id="chk-yes"></input></label>
                    <label class="label-for-checkbox">N <input type="checkbox" class="checkbox-square" id="chk-no"></input></label></td>
            </tr>
        </table>
        </div>
    </div>
    <div id="panel-pfm">
    </div>
</div>

{% endblock %}
{% block page_scripts %}
        <script>            
            $(document).ready(function() {
                var selectedTerm;
                var selectedClass = "";
                var pfmData = new Array();
                
                $('.term-btn').on('click', function(){
                    var $this = $(this);
                    
                    $('.term-btn').css("background-color","#337ab7");
                    $this.css("background-color","green");
                    
                    selectedTerm = $this.html();
                });
                $('.term-btn').last().trigger( "click" );
                
                //button select class
                $('.class-btn').on('click', function() {
                    var $this = $(this);
                    
                    $('.class-btn').css("background-color","#337ab7");
                    $this.css("background-color","green");
                    
                    $('#div-selected-class').html($this.html());
                    selectedClass = $this.html();
                    $('#sel-conditions').show();
                    return false;
                });
                
                //button all class report
                $('#btn-all-class').on('click', function() {
                    $('#txt-student').val("");
                    $('#txt-competency').val("");
                    $("#panel-pfm").html("<p style='padding-right:100px; color:red; font-weight:bold;'>Loading data. Please wait a minute...</p>");
                    $.ajax('/forms/public/students/get-performance-by-class/' + selectedTerm + '_' + selectedClass, {
                        success: function(data) {
                            pfmData = JSON.parse(data);
                            console.log(data);
                            loadDataOfPfm(pfmData);
                        }
                    });
                });
                
                //enter competency number
                $("#smt-competency").on('click', function() {
                    if ($('#txt-competency').val() == "") {
                        alert ("Please input competency number.");
                        return;
                    }
                    $('#txt-student').val("");
                    $("#panel-pfm").html("<p style='padding-right:100px; color:red; font-weight:bold;'>Loading data. Please wait a minute...</p>");
                    $.ajax('/forms/public/students/get-performance-by-competency/' + selectedClass + '_' + $('#txt-competency').val() + '_' + selectedTerm, {
                        success: function(data) {
                            pfmData = JSON.parse(data);
                            if (pfmData === null || pfmData.length == 0){
                                alert ("Can not find the competency number.");
                                return;
                            }
                            console.log(pfmData);
                            loadDataOfPfm(pfmData);
                        }
                    });
                });
                
                //enter student number
                $("#smt-student").on('click', function() {
                    
                    if ($('#txt-student').val() == "") {
                        alert ("Please input student identifier.");
                        return;
                    }
                    $('#txt-competency').val("");
                    $("#panel-pfm").html("<p style='padding-right:100px; color:red; font-weight:bold;'>Loading data. Please wait a minute...</p>");
                    $.ajax('/forms/public/students/get-performance-by-student/' + $('#txt-student').val() + '_' + selectedTerm, {
                        success: function(data) {
                            pfmData = JSON.parse(data);
                            if (pfmData === null || pfmData.length == 0){
                                alert ("Can not find the student.");
                                return;
                            }
                            
                            loadDataOfPfm(pfmData);
                        }
                    });
                });
                
                //checkbutton YES click
                $('#chk-yes').on('click', function(){
                    if ($(this).is(':checked')){
                        $('#chk-no').prop('checked', false);
                        loadDataWithCorrect(1);
                    }
                    else {
                        loadDataWithCorrect(0);
                    }
                });
                
                //checkbutton NO click
                $('#chk-no').on('click', function(){
                    if ($(this).is(':checked')){
                        $('#chk-yes').prop('checked', false);
                        loadDataWithCorrect(2);
                    }
                    else {
                        loadDataWithCorrect(0);
                    }
                });
                
                function loadDataWithCorrect(correct) {
                    if (correct == 0) {
                        loadDataOfPfm(pfmData);
                    }
                    else {
                        var newPfmData = JSON.parse(JSON.stringify(pfmData))
                        for (var student_id in newPfmData) {
                            var studentPfm = newPfmData[student_id];
                            var trackings = new Array('R', 'L');
                            for (var trkKey in trackings) {
                                var tracking = trackings[trkKey];
                                if (studentPfm[tracking] != undefined) {
                                    if (studentPfm[tracking]['pfm'].length == 0) continue;
                                    var newPfm = new Array();
                                    for(var key in studentPfm[tracking]['pfm']) {
                                        if ((correct == 1 && studentPfm[tracking]['pfm'][key]['correct'] == 'Yes') ||
                                            (correct == 2 && studentPfm[tracking]['pfm'][key]['correct'] == 'No')) {
                                            newPfm.push(studentPfm[tracking]['pfm'][key]);
                                        }
                                    }
                                    newPfmData[student_id][tracking]['pfm'] = newPfm;
                                }
                            }
                        }
                        loadDataOfPfm(newPfmData);
                    }
                }
            });
            
            function loadDataOfPfm(pfmData) {
                var tableHtml = "";
                function getHtmlOfTracking(studentPfm ,tracking) {
                    if (studentPfm[tracking] != undefined) {
                        if (studentPfm[tracking]['pfm'].length == 0) return;
                        tableHtml += "<table class='table-performance'><thead><tr><th colspan=5>";
                        tableHtml += "<table style='width:700px'>";
                        tableHtml += "<tr><td colspan=3>Student Name:" + studentPfm[tracking]['student_name'] + "</td><td>Student ID:" + studentPfm[tracking]['student_id'] + "</td></tr>";
                        tableHtml += "<tr><td>Form: " + studentPfm[tracking]['form'] + "</td><td>Score:"
                                    + studentPfm[tracking]['score'] + "</td><td></td><td>Test Date:"
                                    + convertDateFormat(studentPfm[tracking]['test_date']) + "</td></tr>";
                        tableHtml += "<tr><td colspan=2>Next Assigned Test: "
                                    + studentPfm[tracking]['NAT'] + "</td><td colspan=2>Series:"
                                    + studentPfm[tracking]['series'] + "</td></tr>";
                        tableHtml += "</table></th><tr>";
                        tableHtml += "<tr><th>Position</th><th>Correct?</th><th>Comp No.</th><th>Task</th><th>Competency Description</th></tr></thead>";
                        tableHtml += "<tbody>";
                        for(var key in studentPfm[tracking]['pfm']) {
                            var pfmRow = studentPfm[tracking]['pfm'][key];
                            tableHtml += pfmRow['main_comp'] == 'Yes' ? "<tr class='main-comp'>" : "<tr>";
                            tableHtml += "<td>" + (pfmRow['main_comp'] == 'Yes' ? pfmRow['position'] : "") + "</td>";
                            tableHtml += "<td>" + pfmRow['correct'] + "</td>";
                            tableHtml += "<td>" + pfmRow['comp_number'] + "</td>";
                            tableHtml += "<td>" + (pfmRow['task']==0 ? "" : pfmRow['task']) + "</td>";
                            tableHtml += "<td>" + pfmRow['comp_description'] + "</td>";
                            tableHtml += "</tr>";
                        }
                        tableHtml += "</tbody></table>";
                    }
                }
                
                for (var indexArr in pfmData) {
                    var studentPfm = pfmData[indexArr];
                    getHtmlOfTracking(studentPfm, 'R');
                    getHtmlOfTracking(studentPfm, 'L');
                }
                
                $("#panel-pfm").html(tableHtml);
            }
            
            function convertDateFormat(strDate) {
                function pad(s) { return (s < 10) ? '0' + s : s; }
                var originalDate = new Date(strDate);
                return (pad(originalDate.getMonth() + 1)) + '/' + pad(originalDate.getDate()) + '/' +  originalDate.getFullYear();
            }
        </script>
{% endblock %}

